<div class="wrapper">
    <div class="page-header" style="background-image: url('/assets/img/banners/home-banner.png');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Đặt lại mật khẩu</h3>
                        <form class="register-form">
                            <label>Mật khẩu</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'error': pass.invalid && (pass.touched || pass.dirty), 'valid': !pass.invalid}">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt"></i></span></div>
                                <input type="password" required minlength="6" maxlength="15" [ngClass]="{'is-invalid': pass.invalid && (pass.touched || pass.dirty), 'is-valid': !pass.invalid}" class="form-control" placeholder="Password" name="password" #pass="ngModel" [(ngModel)]="reset.password">
                            </div>
                            <ng-container *ngIf="pass.invalid && (pass.touched || pass.dirty)">
                                <div class="text-light" *ngIf="pass.errors?.required"><i class="fa fa-exclamation-circle"></i>Không được bỏ trống trường này</div>
                                <div class="text-light" *ngIf="pass.errors?.minlength || pass.errors?.maxlength"><i class="fa fa-exclamation-circle"></i> Mật khẩu phải từ 6 - 15 kí tự!</div>
                            </ng-container>

                            <label>Xác nhận</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'error': (confirm.invalid || confirmPass != reset.password) && (confirm.touched || confirm.dirty), 'valid': confirm.valid && confirmPass == reset.password}">
                                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-check-circle"></i></span></div>
                                <input type="password" required [ngClass]="{'is-invalid': (confirm.invalid || confirmPass != reset.password) && (confirm.touched || confirm.dirty), 'is-valid': confirm.valid && confirmPass == reset.password}" class="form-control" placeholder="Confirm password" name="confirm" #confirm="ngModel" [(ngModel)]="confirmPass">
                            </div>
                            <ng-container *ngIf="(confirm.invalid || confirmPass != reset.password) && (confirm.touched || confirm.dirty)">
                                <div class="text-light" *ngIf="confirm.errors?.required && confirm.touched"><i class="fa fa-exclamation-circle"></i> Không được bỏ trống trường này</div>
                                <div class="text-light" *ngIf="confirmPass != '' && confirmPass != reset.password"><i class="fa fa-exclamation-circle"></i> Mật khẩu không trùng khớp!</div>
                            </ng-container>

                            <button *ngIf="!success" (click)="resetPass()" [disabled]="pass.invalid || confirm.invalid || reset.password != confirmPass || isLoaded" class="btn btn-danger btn-block btn-round">Đặt lại</button>
                            <a *ngIf="success" [routerLink]="['/home']" class="btn btn-primary btn-block btn-round">Về trang chủ</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
